<section class="portada--bg">
    <div class="portada">
        <img class="image" [src]="userImage" alt="">
        <div class="info">
            <h3 class="text">Hola, soy <span class="text--bold">Brayan</span></h3>
            <h2 class="text text--gradiant">DESARROLLADOR FRONTEND</h2>
            <h3 class="text text--slogan">Enfocado en crear soluciones a través de código</h3>
            <button class="button" type="button"><img class="buttonSvg" [src]="cvSvg" alt=""> Descargar CV</button>
        </div>
    </div>
</section>