<section class="container">

    <h1 class="title">Proyectos</h1>

    <div class="project section-bg">
        <img class="image" href="https://storeproyect.brayanalaya.dev/" src="../../../assets/projectStore.png" alt="">
        <div class="info">
            <a class="project-title" href="https://storeproyect.brayanalaya.dev/">ProjectStore <img class="project-title__image" src="../../../assets/link.svg" alt=""></a>
            <p class="text">Es una plataforma que conecta a vendedores y compradores, facilitando la compra y
                venta de productos de diversas categorías. Diseñado con una interfaz intuitiva y funcional, permite a
                los usuarios explorar una amplia gama de productos, realizar compras y gestionar sus
                ventas sin complicaciones. Con un enfoque en la experiencia del usuario, también ofrece
                herramientas de gestión de inventario.</p>
            <div class="tecnologies">
                <p class="icon">
                    <img class="icon--image" src="../../../assets/angular.svg" alt="">
                    Angular
                </p>
                <p class="icon">
                    <img class="icon--image" src="../../../assets/typescript.svg" alt="">
                    Typescript
                </p>
                <p class="icon">
                    <img class="icon--image" src="../../../assets/ngrx.svg" alt="">
                    NgRx
                </p>
                <p class="icon">
                    <img class="icon--image" src="../../../assets/express.svg" alt="">
                    Express
                </p>
                <p class="icon">
                    <img class="icon--image" src="../../../assets/mysql.svg" alt="">
                    MySql
                </p>
                <p class="icon">
                    <img class="icon--image" src="../../../assets/prisma.svg" alt="">
                    PrismaORM
                </p>
            </div>
        </div>
    </div>
</section>