<section class="skills">
    <div class="section-bg">
        <h2>Sobre mí</h2>
        <p class="text">Hola, soy Brayan, desarrollador FrontEnd de Perú. Actualmente, estoy cursando Ingeniería de Sistemas
            Computacionales en la Universidad Privada del Norte (UPN). He dedicado mucho tiempo a estudiar de forma
            autónoma, profundizando tanto en el desarrollo FrontEnd como BackEnd, aunque mi especialidad es el
            FrontEnd. Me considero una persona alegre, siempre abierta al crecimiento y a mejorar en cualquier ámbito.
            Me apasiona el trabajo en equipo y crecimiento colectivo.</p>
    </div>
    <div class="section-bg">
        <h2>Educación</h2>
        <ul class="educacion">
            <li>
                <h3>Ing. Sistemas Computacionales</h3>
                <p class="text--op">2022 - Actualidad</p>
            </li>
            <li>
                <h3>Estudio Autónomo</h3>
                <p class="text--op">2022 - Actualidad</p>
            </li>
        </ul>
    </div>
    <div class="tecnologies section-bg">
        <h2>Tecnologias</h2>
        <div class="icon_list">
            <p class="icon">
                <img class="icon--image" src="../../../assets/html.svg" alt="">
                HTML
            </p>
            <p class="icon">
                <img class="icon--image" src="../../../assets/css.svg" alt="">
                CSS
            </p>
            <p class="icon">
                <img class="icon--image" src="../../../assets/scss.svg" alt="">
                SCSS
            </p>
            <p class="icon">
                <img class="icon--image" src="../../../assets/js.svg" alt="">
                Javascript
            </p>
            <p class="icon">
                <img class="icon--image" src="../../../assets/angular.svg" alt="">
                Angular
            </p>
            <p class="icon">
                <img class="icon--image" src="../../../assets/typescript.svg" alt="">
                Typescript
            </p>
            <p class="icon">
                <img class="icon--image" src="../../../assets/ngrx.svg" alt="">
                NgRx
            </p>
            <p class="icon">
                <img class="icon--image" src="../../../assets/git.svg" alt="">
                Git
            </p>
            <p class="icon">
                <img class="icon--image" src="../../../assets/github.svg" alt="">
                GitHub
            </p>
            <p class="icon">
                <img class="icon--image" src="../../../assets/node.svg" alt="">
                Node
            </p>
            <p class="icon">
                <img class="icon--image" src="../../../assets/express.svg" alt="">
                Express
            </p>
            <p class="icon">
                <img class="icon--image" src="../../../assets/mysql.svg" alt="">
                MySql
            </p>
            <p class="icon">
                <img class="icon--image" src="../../../assets/mongo.svg" alt="">
                MongoDB
            </p>
            <p class="icon">
                <img class="icon--image" src="../../../assets/prisma.svg" alt="">
                PrismaORM
            </p>
           
        </div>
    </div>
  
</section>